[v-cloak] {
  display: none;
}
body{
  margin: 0;
}
span ,p,div{
  font-family:PingFangSC-Regular,PingFang SC;
}
a{
  display: block;
  text-decoration: none;
}
a:hover{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.jf-header{
  width: 100vw;
  height: 408px;
  background: url('../img/index-bg.png');
  background-size: cover;
  z-index: 99;
}
.level-rule{
  display: block;
  height: 26px;
  padding: 0 8px 0 10px;
  line-height: 26px;
  margin-top: 12px;
  border-radius: 14px 0 0 14px;
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.3);
}
.jifen-level{
  text-align: center;
  margin-top: -12px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;  
  color: #FFFFFF;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.number-flex{
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
.number-flex-level{
  width: 70px;
}
.space1{
  width: 186px;
  flex-shrink: 0;
}
.space2{
  width: 228px;
}
.my-number{
  margin-top: -86px;
}
.current-number{
  margin-top: -64px;
}
.current-number p{
  margin: 0;
  line-height: 12px;
}
.current-number p:first-child{
  height: 34px;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 0;
}
.my-slider{
  display: flex;
  justify-content: center;
}
.card{
  width: 320px;
  height: 156px;
  margin: 10px 10px;
  transition: transform .4s;
  transform: scale(1,.9);


}
.card-header{
  display: flex;
  margin-top: 18px;
  padding: 0 20px 0 20px;
  justify-content: space-between;
}
.card-sign{
  width: 30px;
  height: 30px;
}
.card-privilege{
  display: flex;
  margin-top: 34px;
  justify-content: space-around;
  color: #ffffff;
  font-size: 12px;
}

.card-privilege div{
  margin: 0 auto;
  text-align: center;
}

.card-privilege-item{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.card-privilege-item5{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}
.jifen{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  padding: 14px;
  width: 308px;
  height: 88px;
  background: #ffffff;
  border-radius: 8px;
}

.jf-detail{
  height: 16px;
  font-size: 12px;
  padding: 8px 18px;
  border: solid 1px #0F6EF4;
  border-radius: 20px;
}
.jf-main{
  padding: 0 16px;
  padding-top: 78px;
  text-align: center;
  background: #F5F5F5;
  padding-bottom: 20px;
}
.line{
  margin: 12px 4px 0 4px;
  width: 23px;
  height: 1px;
  background: #E5E5E5;
}
.main-box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-item{
  height: 229px;
  width: 166px;
  margin-top: 12px;
}
.main-item img{
  display: block;
  height: 166px;
  width: 166px;
}
.item-text{
  background: #ffffff;
  text-align: left;
  padding: 10px;
  height: 44px;
  border-radius: 0 0 4px 4px;
}
.item-name{
  margin: 4px 0;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#333333;
  line-height:22px;
}
.item-price{
  color: #666666;
  font-size: 12px;
  margin: 4px 0;
}

.item-price span{
  color: #FF8B1E;
}
.main-end{
  width: 100vw;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  color: #999999;
  font-size: 12px;
}
.show{
  display:inline-block;
}
.hidden{
  display:none;
}
.is-active{
  transform: scale(1.05,1.05);
  z-index: 10;
  transition: transform .4s;
}

@media screen and (max-width: 320px) {
  .card{
    width: 260px;
    height: 150px;
  }
  .jf-header{
    height: 396px;
  }
  .jifen{
    width: 244px;
  }
  .jf-main{
    padding: 0 8px;
    padding-top: 78px;
    text-align: center;
    background: #F5F5F5;
    padding-bottom: 20px;
  }
  .main-item{
    width: 144px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 10px;
  }
  .item-text{
    height: 60px;
  }
  .item-name{
    height: 44px;
  }
  .main-item img{
    display: block;
    height: 166px;
    width: 144px;
  }
  .number-flex{
    margin-top: 20px;
  }
  .space1{
    width:160px;
    height: 20px;
  }
}
@media screen and (min-width: 321px) and (max-width: 374px) {
  .jf-main{
    padding: 0 10px;
    padding-top: 78px;
    text-align: center;
    background: #F5F5F5;
    padding-bottom: 20px;
  }
  .number-flex{
    margin-top: 26px;
  }
}
@media screen and (min-width: 375px) and (max-width: 410px) {
  .jf-main{
    padding: 0 10px;
    padding-top: 78px;
    text-align: center;
    background: #F5F5F5;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 411px) {
  .card{
    height: 168px;
  }
  .jf-main{
    padding: 0 10px;
    padding-top: 78px;
    text-align: center;
    background: #F5F5F5;
    padding-bottom: 20px;
  }
  .main-item{
    height: 229px;
    width: 180px;
    margin-top: 12px;
  }
  .main-item img{
    display: block;
    height: 166px;
    width: 180px;
  }
  .card{
    width: 336px;
  }
  .jifen{
    width: 324px;
  }
  .jf-header{
    height: 428px;
  }
}
